*{
margin: 0;
padding: 0;

}

a {
color: white;
text-decoration: none;
transition: o.3s;
}

a:hover {
opacity: 0.7;
}
.logo,.titulo{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.titulo {
display: flex;
font-size: 10px;
justify-content: space-around;
align-items: center;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background:  rgb(228, 169, 204);
height: 15dvh ;
border-radius: 2%;
color: rgb(255, 255, 255);

}
body{
    background-image: url("imagens/imagem1.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 30dvh;
}
.nav-lista {
    font-size: larger;
    font-size: 15px;
    letter-spacing: 3px;
    margin-left: 40px;
    display:flex
}

li {
margin-left: 20px;
list-style: none;
}

.fundo{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10%;
    padding-left: 2%;
    
}
.frase-img{
    color: white;
      width: 300px; /* Largura definida */
      margin: 5%; /* Centraliza horizontalmente */
      padding-top: 20%;
      padding-left: 20%;
     letter-spacing: 3px;
}
.button-zap{
font-style: italic;
position: absolute;
top: 90%; 
left: 40%; 
background-color: rgb(185, 52, 52);
border-radius: 15px;
border-width: 0px;
transition: 0.7s;
display: inline-block;
height: 8%;
 width: 20%;
}

.text-button{
font-family: Arial, Helvetica, sans-serif;
 color: rgb(255, 255, 255);
 transition: 0.7s;
 font-size: 1.3em;
  
}
.h1-titulo{
    color:rgb(44, 18, 18);
    margin-left: 25%;
    padding-bottom: 40px;
    padding-top: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
strong{
    color: rgb(97, 33, 33);
}
.div-corpo-promo{
background-image: url("imagens/photo-1570475735025-6cd1cd5c779d.jpeg");
background-attachment:fixed;
background-size: cover;
background-repeat: no-repeat;
min-width: 30dvh;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
height:40%;
}
.ul-img, .texto-promo{
 display: inline-block;
 vertical-align: top;
}
.ul-img{
    padding: 20px;
    width: 450px;
    height:300px;
    border-radius: 8%;
}
.texto-promo{
    color:rgb(134, 43, 43);
    margin-left: 30px;
    padding-top: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


     
footer{
    background-color:  rgb(228, 169, 204);
    padding-top: 50px;
    padding-left: 2%;
}

